<div id="contact" class="row dbg">
	<div class="inner_container">
		<div class="four columns">
			<p>Address</p>
			<p>Bennwil, Switzerland</p>
		</div>
		<div class="four columns">
			<p>Contact</p>
			<p><a href="mailto:artbywillemijn@gmail.com">artbywillemijn@gmail.com</a></p>
			<p>+41 (0) 79 793 72 96</p>
		</div>
		<div class="four columns">
			<p>Follow</p>
			<p><a href="https://www.facebook.com/artbywillemijn">Facebook</a></p>
		</div>
	</div>
</div>

<br />
<div class="inner_container">
	©{{ site.time | date: "%Y" }} art by willemijn
</div>
