<head>
	<meta charset="UTF-8">
	<title>{{ page.title }}</title>
	<meta name="description" content="Art By Willemijn">
	<meta name="author" content="">

	<!-- mobile specific metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

	<!-- style -->
	<link rel="stylesheet" href="/css/normalize.css">
	<link rel="stylesheet" href="/css/skeleton.css">
	<link rel="stylesheet" href="/css/custom.css">
	<link rel="stylesheet" href="/css/github-prettify-theme.css">
	<link rel="stylesheet" type="text/css" href="/css/slick.css"/>
	<link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>

	<!-- modals -->
	<link rel="stylesheet" type="text/css" href="/css/modal.css"/>

</head>
